/* ----------------------müsteri css bilgisi-------------------------------------------------------------- */
body{
    background:#c3b081;
    color: white;
}
.customer-date{
    border: solid 2px #796c4c;
    background-color: #796c4c;
  }
.customer-name{
    border: solid 2px #796c4c;
    background-color:#796c4c;
    ;
}  
.bi-trash3{
    color: red;
}
.bi-pencil-square{
    color: green
}
.edit-button{
   background-color:#ffffff ;  
}
h1{
    
    background-color:#8b7f5f ;
}

.randevu-card{
    width: 50%;
    border: solid 3px #796c4c;
    padding-inline: 25px;
    height: 400px;
    overflow: auto;
}
.profil-card{
    width: 50%;
    border: solid 3px #796c4c;
    padding-inline: 25px;
    height: 400px;
    overflow: auto;
}
.kuafor-card{
    width: 50%;
    border: solid 3px #796c4c;
    padding-inline: 25px;
    height: 400px;
    overflow: auto;
}
.dropdown-button{
    border: solid 3px #796c4c;
    background-color: #796c4c;
    color: white;
}
.dropdown-button:hover{
    background-color: #796c4c;
}
.date-card{
    width: 50%;
    border: solid 3px #796c4c;
    padding-inline: 25px;
    height: 400px;
    overflow: auto;
}
.takvim{
    width: 100%;
    height: 400px;
}
.bi-check-lg{
    color: green;
}